<%- model_class = Submission -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id) %>:</strong></dt>
  <dd><%= @submission.id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:problem) %>:</strong></dt>
  <dd><%= link_to Problem.find(@submission.problem).name, '/problems' %></dd>
  <dt><strong><%= model_class.human_attribute_name(:repos_url) %>:</strong></dt>
  <dd><%= repos_link @submission.repos_url, @submission.tag %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tag) %>:</strong></dt>
  <dd><%= @submission.tag %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @submission.status %></dd>
  <% if @submission.status == 'COMPLETED' %>
  <dt><strong>Details :</strong></dt>
  <dd><%= link_to "Report ID: #{@submission.id}", "https://s3-ap-northeast-1.amazonaws.com/sabacon/results/#{@submission.id}/index.html" %></dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              submissions_path, :class => 'btn btn-default'  %>

